<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Customer_Barangay::barangay" title="Barangay" module="Customer_Barangay" sortOrder="10" parent="Customer_Province::province_head" action="barangays/barangays" resource="Customer_Barangay::barangay" />
    </menu>
</config>
